<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{{ page.title }}</title>

    <!-- Open Graph Meta -->
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
      <meta content="{{ page.title }}" property="og:title">
    {% else %}
      <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
      <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}
    {% if page.image %}
      <meta content="{{ site.url }}/assets/img/{{ page.image }}" property="og:image">
    {% else %}
      <meta content="{{ '/assets/img/touring.jpg' | prepend: site.url }}" property="og:image">
    {% endif %}

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.social.twitter }}">
    <meta name="twitter:creator" content="@{{ site.social.twitter }}">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
      <meta name="twitter:image:src" content="{{ site.url }}/assets/img/{{ page.image }}">
    {% else %}
      <meta name="twitter:image:src" content="{{ '/assets/img/touring.jpg' | prepend: site.url }}">
    {% endif %}


    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}" />
    <link rel="icon" type="image/x-icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/img/favicon/apple-icon-57x57.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/img/favicon/apple-icon-60x60.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicon/apple-icon-72x72.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/img/favicon/apple-icon-76x76.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/favicon/apple-icon-114x114.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/img/favicon/apple-icon-120x120.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/img/favicon/apple-icon-144x144.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/img/favicon/apple-icon-152x152.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/favicon/apple-icon-180x180.png" | prepend: site.baseurl }}" />
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/assets/img/favicon/android-icon-192x192.png" | prepend: site.baseurl }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicon/favicon-32x32.png" | prepend: site.baseurl }}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/img/favicon/favicon-96x96.png" | prepend: site.baseurl }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicon/favicon-16x16.png" | prepend: site.baseurl }}" />
    <link rel="manifest" href="{{ "/assets/img/favicon/manifest.json" | prepend: site.baseurl }}" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Come and get me RSS readers -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
    <!--[if IE 8]><link rel="stylesheet" href="{{ "/assets/css/ie.css" | prepend: site.baseurl }}"><![endif]-->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Modernizr -->
    <script src="{{ "/assets/js/modernizr.custom.15390.js" | prepend: site.baseurl }}" type="text/javascript"></script>

    {% if site.google_analytics %} {% include google_analytics.html %} {% endif %}
</head>
